$text-color: #ae9dbf;
$header-color: lighten(adjust_hue($text-color, 10), 22);
$header-color-darker: lighten(adjust_hue($text-color, 20), 15);
$anchor-color: lighten($text-color, 15);
$anchor-hover-color: saturate($anchor-color, 10);
$lead-color-first: #cc45ff;
$lead-color-second: #d445f5;
$lead-color-first-darker: #a524d6;
$lead-color-first-darkest: #711a94;

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  color: $text-color;
  margin: 0;
  background-color: #15161a;
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  background-image: url("../images/rw-willy.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 200dpi),
only screen and (min-resolution: 1.25dppx) {
  -webkit-font-smoothing: subpixel-antialiased;
}

article strong {
  font-weight: bold;
  color: $lead-color-first-darker;
}

b {
  color: #ddd;
}

h1 {
  color: $header-color;
}

h2 {
  color: $header-color-darker;
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 2px ;
  margin-bottom: 20px
}

a {
  color: #cd4843;
}

a:hover {
  color: #ff5853;
}

article a {
  color: $anchor-color;
  text-decoration: underline;
}

article a:hover {
  color: #fff;
}

a[ui-sref] {
  cursor: pointer;
}

.navbar a {
  cursor: pointer;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-inverse {
  background-color: #251624;
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.85);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #436;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: none;
}

.ui-main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

.ui-info {
  font-family: "Oswald", sans-serif;
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid $text-color;
  border-left-width: 0;
  border-right-width: 0;
  opacity: 0.95;
  text-align: center;
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.95);
  > h1 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    color: $lead-color-second;
    text-shadow: 0 0 18px $lead-color-first-darker;
  }
  > p:first-of-type {
    margin: 0;
    font-size: 1.25em;
  }
  > p + p {
    margin-top: 2em
  }
}

.ui-view-container {
  padding-top: 48px;
  display: flex;
  align-items: stretch;
  min-height: 100%;
  margin-left: -1px;
}

.ui-view-inner {
  border: 1px solid #000;
  border-top-width: 0;
  border-bottom-width: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  @media (max-width: 768px) {
    min-width: 100%;
  }
}

.home {
  .ui-view-inner {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    min-width: initial;
  }
}

.content {
  padding: 0 0 2em 0;
  p {
    text-align: justify;
  }
  p.text-center {
    text-align: center;
  }
}

.angular-google-map-container {
  width: 100%;
  height: 200px;
  border: 10px solid #fff;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .content {
    padding: 0 1em 2em 1em;
  }
  .angular-google-map-container {
    width: 80%;
    height: 400px;
  }
}

@media (max-width: 1023px) {
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #342121;
  }
  .navbar-inverse {
    background-color: rgba(37, 22, 22, 0.97);
  }
  .ui-view-container {
    padding-left: 0;
    padding-right: 0;
  }
  .ui-view-inner {
    border: none;
  }
}

.group-photo {
  border: 1px solid $text-color;
  display: block;
  margin-bottom: 0.75em;
  max-width: 100%;
  height: auto;
}

.gallery {
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 1px solid $text-color;
    -ms-interpolation-mode: bicubic;
  }
  .row {
    img {
      margin-top: 15px;
    }
    img:first-child {
      margin-top: 0;
    }
  }
  margin-bottom: 10px;
}

.gallery-credits {
  color: #654D42;
}

.animation-fade {
  opacity: 0;
}

.animation-faded {
  opacity: 1;
}

.animation-faded {
  transition: opacity 1s linear .2s;
}

.event {
  color: darkcyan;
}

.deadline {
  color: #d21352;
}

.compo {
  color: #00e627;
}

.djset {
  color: #c4b300;
}

.timetable {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  td {
    vertical-align: top;
    padding: 0.1em 0.75em;
  }
  td:nth-child(2) {
    column-width: 5em;
  }
}

.registration-list {
  .row:first-of-type {
    border-top: 2px solid #4A2626;
  }
  .row {
    border-bottom: 2px solid #4A2626;
  }
  .col {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  p {
    margin-top: 3%;
  }
  .country p {
    text-align: right;
  }
  .visitor-image {
    padding-left: 4px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border: 1px solid #777;
      border-radius: 4px;
      width: 80%;
      height: 80%;
    }
  }
}

.embed-container {
  min-width: 100%;
}
.google-maps {
  border: 8px solid #fff;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30%;
  margin-bottom: 0.5em;
}

.nominee {
  background: rgba(120, 146, 255, 0.27);
  border: 1px solid rgba(120, 146, 255, 0.32);
  display: flex;
  flex-flow: row;
  .description {
    width: 100%
  }
  strong {
    color: rgba(142, 227, 255, 0.81);
    font-weight: 400;
  }
  h2 {
    margin-top: 0
  }
  .picture {
    margin-right: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 202px;

    img {
      border: 1px solid rgba(120, 146, 255, 0.62);
      width: 200px;
      height: 200px;
    }
    margin-bottom: 1em;
  }
  padding: 1em;
  margin-top: 1em;
  &:first-of-type {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .nominee {
    flex-flow: column;
  }
}
