html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #000c18;
  color: #abd;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  color: #f0f8ff;
}

h2 {
  color: #f2faff;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 2px rgba(100, 150, 200, 1);
}

a {
  color: #cde;
  text-decoration: underline;
}

a:hover {
  color: #fff;
}

.ui-main-wrapper {
  background: url("../images/logo.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-info {
  font-family: "Oswald", sans-serif;
  padding: 1em;
  background: #000000;
  border: 1px solid #fff;
  border-left-width: 0;
  border-right-width: 0;
  opacity: 0.8;
  text-align: center;
  box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.85);
  > h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #fff;
    text-shadow: none;
  }
}

.navbar-main {
  display: none;
}

article.content {
  padding: 0 2em;
}