<nav class="navbar navbar-inverse navbar-fixed-top navbar-main navbar-main-collapse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="app.home" translate="HOME">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="PARTY">Party</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="app.about" translate="ABOUT">About</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.schedule" translate="SCHEDULE">Schedule</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.music-events" translate="MUSIC">Music events</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.tickets" translate="TICKETS">Tickets</a></li>
                        <li role="separator" class="divider"></li>
                        <!--<li class="dropdown-header" translate="REGISTER_BELOW">Scener Of The Year!</li>-->
                        <li ui-sref-active="active"><a ui-sref="app.participants" translate="PARTICIPANTS">Participants</a></li>
                        <!--<li ui-sref-active="active"><a ui-sref="app.scener-of-the-year" translate="SOTY">Scener Of The Year</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="COMPETITIONS">Competitions &amp; rules</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="app.compos-general" translate="COMPOS_ALL">General rules</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.machines" translate="MACHINES">Compo machines</a></li>
                        <li role="separator" class="divider"></li>
                        <li ui-sref-active="active"><a ui-sref="app.compos-graphics" translate="COMPOS_GFX">Graphics</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.compos-music" translate="COMPOS_MSX">Music</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.compos-executable" translate="COMPOS_EXE">Executable</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.compos-wild" translate="COMPOS_WLD">Animation, Wild</a></li>
                        <!-- <li ui-sref-active="active"><a ui-sref="app.compos-others" translate="COMPOS_OTH">Crazy &amp; others</a></li> -->
                    </ul>
                </li>
                <li ui-sref-active="active"><a ui-sref="app.travelling" translate="TRAVELLING">Travelling &amp; Accommodation</a></li>
                <li ui-sref-active="active"><a ui-sref="app.contact" translate="CONTACT">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="setLanguage('pl')">PL</a></li>
                <li><a ng-click="setLanguage('en')">EN</a></li>
            </ul>
        </div>
    </div>
</nav>

<section ui-view class="container ui-view-inner" autoscroll="false"></section>
