<article class="content">
  <h1>Polski Demoscener Roku</h1>

  <p>
    Podczas Riverwash 2015 przyznaliśmy nagrodę "Polish Demoscene All—Star", czyli wyróżnienie dla osoby, która
    swoim dorobkiem na demoscenie zasługuje, naszym zdaniem, na uhonorowanie. Organizatorzy party wybrali
    <strong>Kierownika^Elude</strong> za jego zasługi dla amigowej demosceny. Od tego roku zmieniliśmy nieco nazwę
    nagrody, a także — zgodnie z zapowiedzią — przekazujemy wybór w Wasze ręce.
  </p>

  <h2>Nominowani</h2>

  <div ng-show="false">

    <p>Aby móc zgłosić kandydaturę, musisz <a ui-sref="app.participants">zarejestrować konto</a> na stronie, a następnie zalogować się:</p>

    <div class="row signin-form">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <form autocomplete="off">
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail <span class="required">(wymagany)</span></label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="user.email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Hasło <span class="required">(wymagane)</span></label>
            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Hasło" ng-model="user.password">
          </div>
          <div class="form-group">
            <p class="help-block">
              Kłopoty z logowaniem się? <a href="mailto:contact@riverwash.org">Napisz do nas</a>.
            </p>
          </div>
          <button type="submit" class="btn btn-danger" ng-click="submitSignInForm(user)">Zaloguj się</button>
        </form>

      </div>
    </div>
  </div>

  <div ng-show="nominateFormVisible && !nominationDone">
    <div class="row nominate-form">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <form autocomplete="off">
          <div class="form-group">
            <label for="Nickname">Kogo chcesz nominować? <span class="required">(wymagane)</span></label>
            <input type="text" class="form-control" id="Nickname" placeholder="Ksywa / grupa" ng-model="nominee.nickname" autofocus ng-disabled="nominationDone">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Uzasadnienie <span class="required">(wymagane)</span></label>
            <textarea rows="5" class="form-control" id="Description" placeholder="Uzasadnienie" ng-model="nominee.description" ng-disabled="nominationDone"></textarea>
          </div>
          <button type="submit" class="btn btn-danger" ng-click="submitNomineeForm(nominee)" ng-show="!nominationDone">Wyślij kandydaturę</button>
        </form>
      </div>
    </div>
  </div>

  <div class="alert alert-info alert-dismissable" role="alert" ng-show="nominationDone">
    <p><strong>Dziękujemy!</strong> Twoja nominacja została zgłoszona.</p>
  </div>

</article>

<div class="modal fade" tabindex="-1" role="dialog" id="signinFailedModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Błąd!</h4>
      </div>
      <div class="modal-body">
        <p>
          Podczas logowania się lub wysyłania nominacji nastąpił błąd. Albo nie wypełniono poprawnie wszystkich pól,
          albo wykopyrtnął się serwer. Jeśli sytuacja będzie się powtarzać,
          <a href="mailto:contact@riverwash.org">napisz do nas</a>.
        </p>
        <div class="alert alert-danger" role="alert" ng-if="errorMessage"><p><strong>Błąd:</strong> {{ errorMessage }}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No cóż, trudno</button>
      </div>
    </div>
  </div>
</div>